@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Assistant:wght@200;300&family=Chivo&family=Inter&family=Martel+Sans&family=Merriweather+Sans:ital,wght@1,300&family=Open+Sans&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;400&family=Quicksand:wght@300;500&family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&family=Work+Sans:ital,wght@1,200&display=swap');

html, body {
  height: 100%;
  width: 100%;
  overflow-x: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Outfit', sans-serif;
  overflow-x: none;

}

body {
  background-color: #FAEEE7;
  overflow-x: none;
}

h3 {
  color: #FAEEE7;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
  font-size: 32px;
  font-weight: 500;
  line-height: 49px;
  text-align: center;
}


form {
  height: 520px;
  width: 400px;
  background-color: rgb(33, 33, 33);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border: 2px solid rgba(8, 7, 16, 0.6);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

form * {
  color: #FAEEE7;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

input,select,textarea {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 20px;
  font-weight: 600px;
}

::placeholder,#Gender,#country,#state {
  color: #FAEEE7;
}

#jay {
  width: 50%;
  margin-left:30px;

}

#me {
  width: 350px;
  border-radius: 15px;

}

#reg-p {
  color: #FAEEE7;
  text-align: center;
  line-height: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
}

.nav-list {
  list-style-type: none;
}

.nav-items,
a {
  font-size: 20px;
  color: #FAEEE7;
  display: inline-block;
  text-decoration: none;
  margin: 10px 15px;

}

.hero-container {
  background-color: #FAEEE7;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  gap: 10px;
  background-color: #FAEEE7;
}

.footer-container {
  background-color: #212121;
  padding: 15px;
  text-align: center;

}

.register-container,
.projects-container {
  background: rgb(33, 33, 33);
  box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.4);
  padding: 2.5rem 2.5rem;
  border-radius: 10px;
  width: 750px;
  margin: 20px auto 20px auto;
  display: block;
  padding-bottom: 10px;
  border: none;
  color: #FAEEE7;
}

.image {
  border-radius: 20px;
  padding: 10px; 
  background-color: #212121;
  border: 1px solid #FAEEE7;

}

.hero-text {
  text-align: center;
  font-size: 4.1rem;
  margin: 10px auto 60px 100px;
  color: #212121;
}

.text {
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  color: #212121;
  background-color: #FAEEE7;

}

.contact {
  text-align: center;
}

.footnote {
  color: #FAEEE7;
}

.btn {
  background-color: #212121;
  color: #FAEEE7;
  border: none;
  border-radius: 70px;
  padding: 10px 27px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button {
  margin-top: 50px;
  width: 100%;
  background-color: #FAEEE7;
  color: #212121;
  border: none;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover,
.social div:hover {
  background-color: #FAEEE7;
  color: #212121;
}

button:hover {
  background-color: #212121;
  color: #FAEEE7;
}

.card:hover {
  border: 2px solid #FAEEE7;

}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 18px 18px 0 rgba(0, 0, 0, 0.4);
  /* this adds the "card" effect */
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  background-color: #212121;
}
.card-header{
  text-align:center
  
}
.card-items {
  list-style-type: none;
  color: #FAEEE7;
}


/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.social {
  margin-top: 30px;
  display: flex;
}

.social div {
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255, 255, 255, 0.27);
  color: #FAEEE7;
  text-align: center;
}

.social .fb {
  margin-left: 25px;
}

.social i {
  margin-right: 4px;
}




